<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css"href="/admin_portal/portal/static/css/material-dashboard.css">
    <link rel="stylesheet" type="text/css"href="/admin_portal/portal/static/css/material-dashboard.min.css">
    <link rel="stylesheet" type="text/css"href="/admin_portal/portal/static/css/nucleo-icons.css">
    <link rel="stylesheet" type="text/css"href="/admin_portal/portal/static/css/nucleo-svg.css">
    <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DjangoReact</title>
   </head>
   <body>
    <div>
      {% block content %}
      {% endblock content %}
    </div>
   </body>
</html>

